<!DOCTYPE html>
<html>
<head>
    <title>Button Page</title>
</head>
<body>
    <button id="launchBtn">Start game</button>

    <script>
        document.getElementById('launchBtn').addEventListener('click', function() {
            fetch('/bankcompetition/launch')
                .then(response => response.text())
                .then(data => console.log(data))
                .catch((error) => {
                  console.error('Error:', error);
                });
        });
    </script>
</body>
</html>